{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <div class="text-center"><h1>Документы</h1></div>
<div class="container_smol">
    <img src="./static/img/Рисунок11.jpg" alt="Маленькая картинка">
    <div class="text">
        <div class="bold-text">Автономная некоммерческая организация «Главное судебно-экспертное объединение» АНО «ГлавСЭО»</div>
        <div class="normal-text">115054, г. Москва, ул. Большая Пионерская, д.40 стр. 1   тел. +7-960-547-47-27,   +7-952-962-19-12  e-mail:  glav-expert-union@mail.ru</div>
        <div class="normal-text">ИНН/КПП 7727499145/772701001;  ОГРН 1147799009093</div>
    </div>
</div>
<div class="img">
    <img src="./static/img/Рисунок6.jpg" alt="Изображение 1">
    <img src="./static/img/Рисунок7.jpg" alt="Изображение 2">
</div>
{% endblock %}


