{% extends 'base.html' %}

{% block content %}
{{ super() }}
<!-- Помощь -->
    <section class="hero-section ano">
        <div class="container">
            <div class="help-h3"><br><h3>Помощь</h3></div>

            <div class="services-grid-help"> 
            <div class="service-column">
                <h5>Проведение:</h5>
                <ul class="service-list">
                    <li class="list-item">Судебных экспертиз</li>
                    <li class="list-item">Досудебных исследований</li>
                    <li class="list-item">Внесудебного анализа</li>
                </ul>
            </div>
            
            <div class="service-column">
                <h5>Консультации:</h5>
                <ul class="service-list">
                    <li class="list-item">При назначении экспертиз и  исследований;</li>
                    <li class="list-item">Оценки выводов эксперта</li>
                    <li class="list-item">Выбора методик,  методов, приборной и инструментальной базы</li>
                </ul>
            </div>
            
            <div class="service-column">
                <h5>Медиация</h5>
                <ul class="service-list">
                    <li class="list-item">Альтернативное урегулирование спора с участием посредника (медиатора)</li>
                </ul>
            </div>

            <div class="service-column">
                <h5>Сертификация</h5>
                <ul class="service-list">
                    <li class="list-item">Лицензирование экспертов </li>
                    <li class="list-item">Поверка оборудования</li>
                </ul>
            </div>
        </div>
        </div>
    </section>
{% endblock %}