{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <!-- С лампочкой -->
    <section class="hero-section">
        <div class="container">
            <h3 class="section-title">Автономная некоммерческая организация «Главное судебно-экспертное объединение»</h3>
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="hero-text">
                        <div class="highlight-title"><h1>ВКЛЮЧИ СВЕТ</h1></div>
                        <h2>ЭКСПЕРТНОГО РЕШЕНИЯ ВАШЕЙ ПРОБЛЕМЫ!</h2><br>
                        <div class="services-container">
                            <div class="multi-column-list">
                                <div class="list-item"><strong>СУДЕБНЫЕ ЭКСПЕРТИЗЫ</strong></div>
                                <div class="list-item">РЕЦЕНЗИИ</div>
                                <div class="list-item">ОЦЕНКА</div>
                                <div class="list-item"><strong>КОНСУЛЬТАЦИИ</strong></div>
                                <div class="list-item"><strong>ДОСУДЕБНЫЕ ИССЛЕДОВАНИЯ</strong></div>
                                <div class="list-item">МЕДИАЦИИ</div>
                                <div class="list-item">ОБУЧЕНИЕ</div>
                                <div class="list-item"><strong>СЕРТИФИКАЦИЯ</strong></div>
                                <div class="list-item"><strong>ВНЕСУДЕБНЫЙ АНАЛИЗ</strong></div>
                                <div class="list-item">ПОМОЩЬ</div>
                                <div class="list-item">НЕТВОРКИНГ</div>
                                <div class="list-item"><strong>РАЗВИТИЕ</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-start">
                    <img src="../static/img/Лампочка.png" alt="Лампочка" class="bulb-img">
                </div>
            </div>
        </div>
    </section>


<!-- Про АНО -->
<section class="hero-section">
    <div class="container ano">
        <div class="highlight-title"><h1>АНО</h1></div><br>
        <p>Миссия АНО «Главное судебно-экспертного объединение» (ГлавСЭО) заключается в обеспечении объективности, беспристрастности и профессионализме экспертных исследований вопросов, требующих специальных знаний, с целью установления истины для судов, государственных органов, бизнеса и частных лиц.</p>
        <p>Эксперты и специалисты нашего Объединения служат гарантом достоверности в спорных ситуациях, помогая принимать обоснованные решения на основе научного исследования фактов, а не домыслов или корыстных интересов.</p>
        <br><br><h4>Задачи решаемые АНО ГлавСЭО:</h4>
        <div class="services-grid"> 
            <div class="service-column">
                <h5>Для государственных органов:</h5>
                <ul class="service-list">
                    <li class="list-item">Проведение судебных экспертиз;</li>
                    <li class="list-item">Проведение криминалистических исследований;</li>
                    <li class="list-item">Участие в следственных действиях в качестве специалиста;</li>
                    <li class="list-item">Участие в процессуальных действиях, судебных заседаниям по вопросам оценке выводов эксперта (специалиста);</li>
                    <li class="list-item">Консультации при назначении экспертиз и исследований;</li>
                    <li class="list-item">Оценка результатов (выводов) проведённых экспертиз;</li>
                    <li class="list-item">Консультативная помощь по решению вопросов по использованию криминалистических учётов и коллекций.</li>
                </ul>
            </div>
            
            <div class="service-column">
                <h5>Для физических и юридических лиц</h5>
                <ul class="service-list">
                    <li class="list-item">Проведение судебных экспертиз;</li>
                    <li class="list-item">Проведение досудебных и внесудебных исследований;</li>
                    <li class="list-item">Оценка</li>
                    <li class="list-item">Рецензирование экспертиз, исследований, оценок, суждений;</li>
                    <li class="list-item">Консультации при назначении экспертиз и исследований;</li>
                    <li class="list-item">Подготовка к процессуальным действиям, судебным заседаниям по вопросам оценки доказательств;</li>
                    <li class="list-item">Участие в следственных и процессуальных действиях, судебных заседаниям по вопросам оценке выводов эксперта (специалиста).</li>
                </ul>
            </div>
            
            <div class="service-column">
                <h5>Для экспертов (специалистов), НКО:</h5>
                <ul class="service-list">
                    <li class="list-item">Консультации по вопросам проведения экспертного исследования, выбора методик, методов, приборной и инструментальной базы;</li>
                    <li class="list-item">Помощь в предоставление сертифицированного, поверенного лабораторного оборудования и инструментария для проведения экспертиз и исследований;</li>
                    <li class="list-item">Поиск экспертов (специалистов) для проведение экспертиз (исследований), в т.ч. комиссионных, комплексных, повторных;</li>
                    <li class="list-item">Нетворкинг;</li>
                    <li class="list-item">Подготовка к сертификации, лицензировании, поверок персонала и оборудования;</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}