{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <section class="hero-section">
        <div class="container">
            <h1 class="section-title">Партнёры</h1>

            <div class="partners-grid">
                <div class="partner-card">
                    <a href="https://collegium-kalita.ru/" target="_blank" class="partner-link">
                        <img src="../static/img/Рисунок2.jpg" alt="Коллегиум Калита" class="partner-img">
                        <div class="partner-overlay">
                            <span class="partner-name">Коллегиум Калита</span>
                        </div>
                    </a>
                </div>

                <div class="partner-card">
                    <a href="https://aiscontrol.ru/" target="_blank" class="partner-link">
                        <img src="../static/img/Рисунок3.jpg" alt="AIS Control" class="partner-img">
                        <div class="partner-overlay">
                            <span class="partner-name">AIS Control</span>
                        </div>
                    </a>
                </div>

                <div class="partner-card">
                    <a href="https://advpcmol.fparf.ru/about/lawyers/soldatenkov-aleksandr-aleksandrovich/?sphrase_id=1145832" target="_blank" class="partner-link">
                        <img src="../static/img/Солдатенков.png" alt="Солдатенков Александр Александрович" class="partner-img">
                        <div class="partner-overlay">
                            <span class="partner-name">Солдатенков Александр Александрович</span>
                        </div>
                    </a>
                </div>

<!--                <div class="partner-card">-->
<!--                    <a href="https://32.мвд.рф/" target="_blank" class="partner-link">-->
<!--                        <img src="../static/img/Рисунок5.jpg" alt="Партнёр 4" class="partner-img">-->
<!--                        <div class="partner-overlay">-->
<!--                            <span class="partner-name">Управление МВД России по Брянской области</span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>
    </section>
{% endblock %}