{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <div class="text-center"><h1>Партнёры</h1></div>

<div class="container_partn">
    <a href="https://collegium-kalita.ru/" target="_blank">
    <img src="./static/img/Рисунок2.jpg" alt="Изображение 1"></a>
    <a href="https://aiscontrol.ru/" target="_blank">
    <img src="./static/img/Рисунок3.jpg" alt="Изображение 2"></a>
    <img src="./static/img/Рисунок4.jpg" alt="Изображение 3">
    <img src="./static/img/Рисунок5.jpg" alt="Изображение 4">
</div>
{% endblock %}
