{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <section class="hero-section">
        <div class="container">
            <h1 class="section-title">Ресурсы</h1>
            <div class="content-box">
                <div class="text">
                    <div class="normal-text"><a href="../static/docs/2025_Дьяконова_Объективность_журнал_СЭ_3.pdf">Дьяконова О.Г.
                        Нормативное регулирование и реализация принципа объективности в судебно-экспертной деятельности
                        //Судебная экспертиза. 2025. №3. С.27-36</a></div>
                    <div class="normal-text"><a href="../static/docs/2025_Дьяконова_Статья_Вестник_МАСК_РФ.pdf">Дьяконова О.Г. Права лиц, вовлеченных в проверку
                    сообщения о преступлении, при проведении судебной экспертизы //
                    Вестник Московской академии Следственного комитета Российской
                    Федерации. 2025. № 2. С. 87—94</a></div>
                    <div class="normal-text"><a href="../static/docs/Дьяконова-Назначение СЭ-сборник.pdf">Дьяконова О.Г. Назначение
                        судебной экспертизы: «старые» проблемы в новых условиях</a></div>
                    <div class="normal-text"><a href="https://www.advgazeta.ru/novosti/eksperty-obsudili-aktualnye-voprosy-sudebnoy-ekspertizy/">
                        Эксперты обсудили актуальные вопросы судебной экспертизы</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}